.msg-container {
  display: flex;
  flex-direction: row;
  margin: 30px;
  height: max-content;
  align-items: center;

  .my-msg {
    background-color: rgb(10, 132, 255);
    padding: 10px 15px;
    border-radius: 5px;
    height: max-content;
    border-bottom-color: rgb(10, 132, 255);
    position: relative;
    max-width: 400px;
    min-width: 50px;
    display: flex;
    justify-content: center;

    &::after {
      content: "";
      position: absolute;
      top: 25px;
      right: -4px;
      width: 10px;
      height: 10px;
      margin-top: -10px;
      transform: rotate(45deg);
      background-color: inherit;
    }

    & p {
      color: white;
    }
  }

  .other-msg {
    background-color: rgb(199, 199, 204);
    padding: 10px 15px;
    border-radius: 5px;
    height: max-content;
    position: relative;
    border-bottom-color: rgb(199, 199, 204);
    max-width: 400px;
    min-width: 50px;
    display: flex;
    justify-content: center;

    &::before {
      content: "";
      position: absolute;
      top: 25px;
      left: -4px;
      width: 10px;
      height: 10px;
      margin-top: -10px;
      transform: rotate(45deg);
      background-color: inherit;
    }

    & p {
      color: #444;
    }
  }
  .time-stamp {
    font-size: 8px;
    margin-left: 8px;
    color: rgb(189, 187, 187);
  }
}

@media (max-width: 900px) {
  .msg-container {
    & .time-stamp {
      display: none;
    }

    .my-msg {
      border-radius: 5px;
    }

    .other-msg {
      border-radius: 5px;
    }
  }
}
